@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div region="center" style="padding: 10px; border: none;">
    <div id="mmXlzx" style="padding: 10px; height: auto;">
        <a href="javascript:addRoleXlzx.open();" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">设置角色</a>
        <a href="javascript:delRoleXlzx();" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a href="javascript:CloseRoleXlzx() " class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">关闭</a>
    </div>
    <table id="ttRoleXlzx" class="easyui-datagrid"
        data-options="rownumbers:true,title:'角色子类',url:'@Url.Action("List","GxXlzx")/?roleid=@ViewData["roleid"]',iconCls:'icon-search',toolbar:'#mmXlzx',
            pagination:true,idField:'ID',pageList:pageList">
        <thead>
            <tr>
                <th data-options="field:'chk',checkbox:true"></th>
                <th data-options="field:'ID',width:100,sortable:true">编号</th>
                <th data-options="field:'NAME',width:170,align:'center',sortable:true">角色子类名称</th>
                <th data-options="field:'CREATEBY',width:100">添加人</th>
                <th data-options="field:'CREATETIME',width:100,formatter:$date">添加时间</th>
            </tr>
        </thead>
    </table>
</div>
<div id="window_RoleXlzx"></div>
<script type="text/javascript">
    var CloseRoleXlzx = function() {
        $('#window_Xlzxrole').dialog('close');
    };
    
    var addRoleXlzx = {
        url: '@Url.Action("Add","GxXlzx")/?roleid=@ViewData["roleid"]',
        open: function () {
            $('#window_RoleXlzx').dialog({
                title: '添加角色子类',
                height: 360,
                width: 430,
                modal: true,
                href: addRoleXlzx.url,
                buttons: [
                    {
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function() {
                            $('#window_RoleXlzx form').form('submit', {
                                success: function(data) {
                                    var d = $.parseJSON(data);
                                    if (d.IsError) {
                                        alertError(d.Message);
                                    } else {
                                        alertInfo('添加成功');
                                        addRoleXlzx.close();
                                    }
                                }
                            });
                        }
                    },
                    {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function() {
                            addRoleXlzx.close();
                        }
                    }
                ]
            });
        },
        close: function() {
            $('#ttRoleXlzx').datagrid('reload');
            $('#window_RoleXlzx').dialog('close');
        }
    };

    var delRoleXlzx = function() {
        var selectRows = $('#ttRoleXlzx').datagrid('getSelections');
        if (selectRows.length > 0) {
            var delKeys = [];
            for (var i = 0; i < selectRows.length; i++) {
                delKeys.push(selectRows[i].Sys_RolesID);
            }
            if (delKeys.length > 0) {
                $.messager.confirm('操作提示', '你确定要删除选中的数据？', function(r) {
                    if (r) {
                        $.ajaxRequest('@Url.Action("Delet","GxXlzx")', $.toJSON(delKeys), function(data) {
                            if (data.IsError) {
                                alertError(data.Message);
                            } else {
                                alertInfo(data.Message);
                            }
                            $('#ttRoleXlzx').datagrid('reload');
                            $('#ttRoleXlzx').datagrid('unselectAll');
                        });
                    }
                });
            }
        } else {
            alertWarning('请选择要删除的数据！');
        }
    };
</script>
