@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "GxSysModels", FormMethod.Post))
{
    <div style="padding: 10px;">
        <ul class="form_ul">
            <li>
                <label>大类名称：</label>
                <input type="text" class="easyui-validatebox" name="NAME" style="width:250px;" />
            </li>
            <li>
                <label>大类排序：</label>
                <textarea style="width: 250px;" rows="5" name="REMARK"></textarea>
            </li>  
             <li>
                <label>数据状态：</label>
                <select name="MENUSTATUS" id="MENUSTATUS">
                    <option value="1">冻结</option>
                    <option value="0">启用</option>
                </select> 
             </li>  
        </ul>
    </div> 
}
