<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connstr0" connectionString="Data Source=127.0.0.1/ORCL;User Id=shpipe;Password=shpipe1234#;" providerName="Oracle.DataAccess.Client"/>
    <add name="connstr" connectionString="Data Source=116.62.209.93/ORCL;User Id=shpipe;Password=shpipe1234#;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.4.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly"/>
  </system.web>
</configuration>